body{
    float: left;
    width: 100%;
    margin: 0px;
    background-color: #f4f4f4;
}
.cabecera{
    float: left;
    width: 100%;
    padding-bottom: 10px;
    font-family: sans-serif;
}
.cabecera h1{
    font-size: 50px;
    margin: 0px;
    padding: 0px  0px 0px 20px;
    text-decoration: none;
    color: black;
}
.cuerpo h3{
    font-size: 25px;
    margin: 0px;
    padding: 0px  0px 0px 20px;
    text-decoration: none;
    color: black;
}
